/* MovieFetch.css */
.movie-container {
    margin-top : 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:white; /*before it was #333*/
  }
  
  .movie-item {
    height: 500px;
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.3s ease;
    overflow: hidden;

  }

  .movie-item:hover{
    transform: scale(1.05);
  }
  
  .movie-id {
    font-size: 14px;
    color: #333;
  }
  
  .movie-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .movie-year {
    font-size: 14px;
    color: #666;
  }
  
  .movie-image {
    width: 200px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border-radius: 3px; */
    height: 100%; /* Ensure the image takes up the full height of its container */
    border-radius: 10px; /* Set border radius for rounded corners */
    object-fit: cover;
    margin-left: 40px;
    
  }

  .movie-image-container{
    justify-content: center;
  }
  
  .movie-adult {
    font-size: 14px;
    color: #666;
  }
  
  .movie-genre {
    font-size: 14px;
    color: #666;
  }
  
  .movie-description {
    font-size: 14px;
    color: #333;
  }
  