/* @keyframes gg {
    0% {
      border-color: #f00; 
    }
    100% {
      border-color: #ff0; 
    }
} */

.card{
    margin-top: 100px;
    /* animation: gg 1s infinite alternate;  */
    border-width: 2px;
    transition: all .7s ease;
}

.card:hover{
  transform: scale(1.05);
  box-shadow: dimgrey;
}